<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <!-- Conditionally render login or logout links -->
    {{#if loggedIn}}
    <a href="/login" id="logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</nav>

{{#each blogposts as |blogpost|}}
<!-- Blogpost cards -->

<section class="card">
  <header>
    <h2>{{blogpost.title}}</h2>
    <p>Posted by: {{user.username}} on {{format_date date_created}}</p>
  </header>
  <p>{{blogpost.body}}</p>
</section>
{{/each}}